<h1>Car Listings</h1>
<ul>
    {% for car in cars %}
    <li>
        <h2>{{ car.title }}</h2>
        <p>Make: {{ car.car_make.car_make }}</p>
        <p>Model: {{ car.model.car_model }}</p>
        <p>Price: {{ car.price }}</p>
        <div>
            {% if car.images.all %}
            <ul>
              {% for image in car.images.all %}
                    <img src="{{ image.image.url}}" alt="Car Image" style="width:200px;height:auto;">
              {% endfor %}
            </ul>
            {%endif%}
        </div>
    </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}
